<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <style>
        body {
            background-image: linear-gradient(to bottom left, red, orange, yellow);
        }
        
        h3 {
          font-family: verdana;
        }
    </style>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}<br>
        <input type="submit" value="Log In">
    </form>
</body>
</html>
